<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <main class="container">
      <article>
        <div class="grid">
          <div></div>
          <div></div>
          <div></div>
          <div>
            <a href="{% url 'lista' %}" role="button">Mostrar todos</a>
          </div>
          <div>
            <a href="{% url 'lista_prestado' %}" role="button">Prestados</a>
          </div>
        </div>
        <a href="{% url 'book_create' %}">Añadir libro</a>
        <h2>Libros disponibles</h2>
        {% for libro in libros_disponibles %}
        <p>{{ libro.titulo }}</p>
        {% if libro.portada %}
        <img src="{{ libro.portada.url }}" style="width: 200px" />
        {% endif %}
        <p>{{ libro.genero }}</p>
        <a href="{% url 'book_delete' libro.pk %}">Borrar libro</a>
        <a href="{% url 'book_details' libro.pk %}">Ver detalles</a>
        {% endfor %}
      </article>
    </main>
  </body>
</html>
