<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <main class="container">
      <article>
        <div class="grid">
          <div></div>
          <div></div>
          <div></div>
          <div>
            <a href="{% url 'lista' %}" role="button">Mostrar todos</a>
          </div>
          <div>
            <a href="{% url 'lista_disponible' %}" role="button">Disponibles</a>
          </div>
        </div>
        <a href="{% url 'book_create' %}">Añadir libro</a>
        <h2>Libros prestados</h2>
        {% for prestamo in prestamos %} 
        {% if prestamo.usuarioPrestado == usuario %}
        <p>{{ prestamo.libroPrestado.titulo }}</p>
        {% if prestamo.libroPrestado.portada %}
        <img src="{{ prestamo.libroPrestado.portada.url }}" style="width: 200px" />
        {% endif %}
        <p>{{ prestamo.libroPrestado.genero }}</p>
        <a href="{% url 'book_delete' prestamo.libroPrestado.pk %}">Borrar libro</a>
        <a href="{% url 'book_details' prestamo.libroPrestado.pk %}">Ver detalles</a>
        {% endif %}
        {% endfor %}
        <h2>Prestamos anteriores</h2>
        {% for p in historialPrestamos %}
        {% if p.usuarioPrestado == usuario %}
        {% if p.fechaDevolucion != None %}
        <p>{{ p.libroPrestado.titulo }}</p>
        {% if p.libroPrestado.portada %}
        <img src="{{ p.libroPrestado.portada.url }}" style="width: 200px" />
        {% endif %}
        <p>{{ p.libroPrestado.genero }}</p>
        <p>{{ p.fechaPrestamo }}</p>
        <p>{{ p.fechaDevolucion }}</p>
        {% endif %}
        {% endif %}
        {% endfor %}
      </article>
    </main>
  </body>
</html>
