{% extends 'biblioteca/base.html' %}

{% block title %} 
Lista
{% endblock %}

{% block content %}
    <main class="container">
      <article>
        <div class="grid">
          <div>
            <a href="{% url 'book_create' %}">Añadir libro</a>
            <h2>Libros disponibles</h2>
            {% for libro in libros_disponibles %}
            <p>{{ libro.titulo }}</p>
            {% if libro.portada %}
            <img src="{{ libro.portada.url }}" style="width: 200px" />
            {% endif %}
            <p>{{ libro.genero }}</p>
            <a href="{% url 'book_delete' libro.pk %}">Borrar libro</a>
            <a href="{% url 'book_details' libro.pk %}">Ver detalles</a>
            {% endfor %}
            <h2>Libros prestados</h2>
            {% for libro in libros_prestados %}
            <p>{{ libro.titulo }}</p>
            {% if libro.portada %}
            <img src="{{ libro.portada.url }}" style="width: 200px" />
            {% endif %}
            <p>{{ libro.genero }}</p>
            <a href="{% url 'book_delete' libro.pk %}">Borrar libro</a>
            <a href="{% url 'book_details' libro.pk %}">Ver detalles</a>
            {% endfor %}
          </div>
          <div>
            <form method="GET" name="frm">
              {% csrf_token %}
              <label>Autor</label>
              <select name="autor" id="autor">
                  <option value="all"{% if not request.GET.autor %} selected{% endif %}>Todos</option>
                  {% for autor in autores %}
                      <option value="{{ autor.nombre }}" {% if request.GET.autor == autor.nombre %}selected{% endif %}>{{ autor.nombre }}</option>
                  {% endfor %}
              </select>
          
              <label>Género</label>
              <select name="genero" id="genero">
                  <option value="all"{% if not request.GET.genero %} selected{% endif %}>Todos</option>
                  {% for g in generosLibro %}
                      <option value="{{ g }}" {% if request.GET.genero == g %}selected{% endif %}>{{ g }}</option>
                  {% endfor %}
              </select>
          
              <label>Editorial</label>
              <select name="editorial" id="editorial">
                  <option value="all"{% if not request.GET.editorial %} selected{% endif %}>Todos</option>
                  {% for e in editoriales %}
                      <option value="{{ e.id }}" {% if request.GET.editorial == e %}selected{% endif %}>{{ e.nombre }}</option>
                  {% endfor %}
              </select>
          
              <input type="submit" value="Filtrar">
          </form>
          
            <a href="{% url 'lista_disponible' %}" role="button">Disponibles</a>
            <a href="{% url 'lista_prestado' %}" role="button">Prestados</a>
            <a href="{% url 'lista' %}" role="button">Limpiar</a>

          </div>
        </div>
        
      </article>
    </main>
{% endblock %}
